# Introduction to Pandas, Part 2

Advanced Pandas syntax, aggregation, and joining.

In [1]:
import numpy as np
import pandas as pd

Let's start by loading the California baby names again.

In [2]:
import urllib.request
import os.path
import zipfile

data_url = "https://www.ssa.gov/oact/babynames/state/namesbystate.zip"
local_filename = "babynamesbystate.zip"
if not os.path.exists(local_filename): # if the data exists don't download again
    with urllib.request.urlopen(data_url) as resp, open(local_filename, 'wb') as f:
        f.write(resp.read())

zf = zipfile.ZipFile(local_filename, 'r')

ca_name = 'CA.TXT'
field_names = ['State', 'Sex', 'Year', 'Name', 'Count']
with zf.open(ca_name) as fh:
    babynames = pd.read_csv(fh, header=None, names=field_names)

babynames.sample(5)

       State Sex  Year     Name  Count
349363    CA   M  2004    Tyson     73
147928    CA   F  1999  Alyanna      7
70267     CA   F  1974   Noreen     15
149370    CA   F  2000    Lucia    134
182491    CA   F  2008  Allyssa     19

In [3]:
babynames

       State Sex  Year      Name  Count
0         CA   F  1910      Mary    295
1         CA   F  1910     Helen    239
2         CA   F  1910   Dorothy    220
3         CA   F  1910  Margaret    163
4         CA   F  1910   Frances    134
...      ...  ..   ...       ...    ...
400757    CA   M  2021      Zyan      5
400758    CA   M  2021     Zyion      5
400759    CA   M  2021     Zyire      5
400760    CA   M  2021      Zylo      5
400761    CA   M  2021     Zyrus      5

[400762 rows x 5 columns]

In [4]:
!ls

babynamesbystate.zip  sample_data

In [5]:
babynames[babynames["Name"] == "Mila"]

       State Sex  Year  Name  Count
38588     CA   F  1957  Mila      6
43311     CA   F  1960  Mila      9
45455     CA   F  1961  Mila      6
56579     CA   F  1967  Mila      6
58403     CA   F  1968  Mila      7
60198     CA   F  1969  Mila      9
64862     CA   F  1971  Mila      6
68784     CA   F  1973  Mila      7
77844     CA   F  1977  Mila      6
85688     CA   F  1980  Mila      5
93813     CA   F  1983  Mila      5
96016     CA   F  1984  Mila      7
127403    CA   F  1993  Mila      5
138253    CA   F  1996  Mila      5
140601    CA   F  1997  Mila      9
143717    CA   F  1998  Mila     12
146951    CA   F  1999  Mila     16
150897    CA   F  2000  Mila     12
154073    CA   F  2001  Mila     22
157708    CA   F  2002  Mila     27
161629    CA   F  2003  Mila     26
165327    CA   F  2004  Mila     35
169226    CA   F  2005  Mila     44
173062    CA   F  2006  Mila     75
177454    CA   F  2007  Mila     54
181501    CA   F  2008  Mila     87
185576    CA   F  2009  Mila    125
189667    CA   F  2010  Mila    188
193642    CA   F  2011  Mila    350
197591    CA   F  2012  Mila    515
201672    CA   F  2013  Mila    646
205632    CA   F  2014  Mila    695
209635    CA   F  2015  Mila    860
213572    CA   F  2016  Mila    887
217434    CA   F  2017  Mila   1055
221192    CA   F  2018  Mila   1293
224890    CA   F  2019  Mila   1217
228547    CA   F  2020  Mila   1007
232158    CA   F  2021  Mila   1061

In [6]:
babynames.query("Name == 'Blythe'")

       State Sex  Year    Name  Count
27365     CA   F  1949  Blythe      5
31099     CA   F  1952  Blythe      6
33722     CA   F  1954  Blythe      8
40265     CA   F  1958  Blythe      5
47356     CA   F  1962  Blythe      5
58621     CA   F  1968  Blythe      5
66458     CA   F  1972  Blythe      9
68225     CA   F  1973  Blythe     13
70286     CA   F  1974  Blythe     14
72422     CA   F  1975  Blythe     15
74794     CA   F  1976  Blythe     12
77084     CA   F  1977  Blythe     12
79820     CA   F  1978  Blythe      8
82205     CA   F  1979  Blythe      9
85024     CA   F  1980  Blythe      7
87079     CA   F  1981  Blythe     13
89612     CA   F  1982  Blythe     16
95140     CA   F  1984  Blythe     15
98249     CA   F  1985  Blythe     11
101107    CA   F  1986  Blythe     12
104840    CA   F  1987  Blythe      7
107590    CA   F  1988  Blythe     10
110868    CA   F  1989  Blythe     11
115205    CA   F  1990  Blythe      7
118977    CA   F  1991  Blythe      7
130817    CA   F  1994  Blythe      5
140243    CA   F  1997  Blythe     11
145047    CA   F  1998  Blythe      5
147964    CA   F  1999  Blythe      7
152350    CA   F  2000  Blythe      5
155753    CA   F  2001  Blythe      6
162607    CA   F  2003  Blythe     10
166888    CA   F  2004  Blythe      8
171577    CA   F  2005  Blythe      6
174536    CA   F  2006  Blythe     12
179432    CA   F  2007  Blythe      8
188168    CA   F  2009  Blythe      7
191864    CA   F  2010  Blythe      9
196668    CA   F  2011  Blythe      6
199220    CA   F  2012  Blythe     15
203053    CA   F  2013  Blythe     19
207542    CA   F  2014  Blythe     12
210863    CA   F  2015  Blythe     23
214981    CA   F  2016  Blythe     19
219135    CA   F  2017  Blythe     14
223837    CA   F  2018  Blythe      7
226859    CA   F  2019  Blythe     11
231112    CA   F  2020  Blythe      7
234757    CA   F  2021  Blythe      7

In [7]:
babynames[babynames['Name'] == "Silas"]
babynames[babynames['Name'] == "Esther"]
babynames[babynames['Name'] == "Haven"]

       State Sex  Year   Name  Count
82987     CA   F  1979  Haven      5
119757    CA   F  1991  Haven      5
123487    CA   F  1992  Haven      5
130489    CA   F  1994  Haven      6
136379    CA   F  1996  Haven     15
139913    CA   F  1997  Haven     15
143580    CA   F  1998  Haven     13
146633    CA   F  1999  Haven     22
150604    CA   F  2000  Haven     15
154132    CA   F  2001  Haven     20
158136    CA   F  2002  Haven     16
161652    CA   F  2003  Haven     25
165628    CA   F  2004  Haven     23
169295    CA   F  2005  Haven     39
173561    CA   F  2006  Haven     31
177839    CA   F  2007  Haven     30
181949    CA   F  2008  Haven     38
186294    CA   F  2009  Haven     32
190431    CA   F  2010  Haven     34
194532    CA   F  2011  Haven     32
198080    CA   F  2012  Haven     71
202169    CA   F  2013  Haven     71
206067    CA   F  2014  Haven     84
210080    CA   F  2015  Haven     82
214110    CA   F  2016  Haven     69
217873    CA   F  2017  Haven     85
221633    CA   F  2018  Haven     84
225463    CA   F  2019  Haven     62
228943    CA   F  2020  Haven     86
232536    CA   F  2021  Haven     91
291919    CA   M  1978  Haven      6
343221    CA   M  2001  Haven      6
345786    CA   M  2002  Haven      6
348420    CA   M  2003  Haven      6
350857    CA   M  2004  Haven      7
352867    CA   M  2005  Haven     14
355926    CA   M  2006  Haven     11
358393    CA   M  2007  Haven     18
362018    CA   M  2008  Haven      9
364615    CA   M  2009  Haven     12
367392    CA   M  2010  Haven     14
370229    CA   M  2011  Haven     15
372988    CA   M  2012  Haven     18
376209    CA   M  2013  Haven     12
379096    CA   M  2014  Haven     13
381904    CA   M  2015  Haven     15
385704    CA   M  2016  Haven      7
387860    CA   M  2017  Haven     13
390878    CA   M  2018  Haven     12
393595    CA   M  2019  Haven     14
396304    CA   M  2020  Haven     16
399546    CA   M  2021  Haven     10

In [8]:
#adding leading and trailing () allow chaining notation

(
    babynames.query('Sex == "M" and Year == 2020')
.sort_values("Count", ascending = False)
)

       State Sex  Year        Name  Count
395116    CA   M  2020        Noah   2625
395117    CA   M  2020        Liam   2420
395118    CA   M  2020       Mateo   2073
395119    CA   M  2020   Sebastian   1994
395120    CA   M  2020      Julian   1687
...      ...  ..   ...         ...    ...
397667    CA   M  2020      Gannon      5
397666    CA   M  2020       Galen      5
397665    CA   M  2020  Fitzgerald      5
397664    CA   M  2020      Fermin      5
397908    CA   M  2020       Zymir      5

[2793 rows x 5 columns]

In [9]:
babynames.query('Sex == "M" and Year == 2020').sort_values("Count", ascending = False)

       State Sex  Year        Name  Count
395116    CA   M  2020        Noah   2625
395117    CA   M  2020        Liam   2420
395118    CA   M  2020       Mateo   2073
395119    CA   M  2020   Sebastian   1994
395120    CA   M  2020      Julian   1687
...      ...  ..   ...         ...    ...
397667    CA   M  2020      Gannon      5
397666    CA   M  2020       Galen      5
397665    CA   M  2020  Fitzgerald      5
397664    CA   M  2020      Fermin      5
397908    CA   M  2020       Zymir      5

[2793 rows x 5 columns]

In [10]:
#Guess we need the parathesis for chaining commands together???
(babynames.query('Sex == "M" and Year == 2020')
.sort_values("Count", ascending = False)
)

       State Sex  Year        Name  Count
395116    CA   M  2020        Noah   2625
395117    CA   M  2020        Liam   2420
395118    CA   M  2020       Mateo   2073
395119    CA   M  2020   Sebastian   1994
395120    CA   M  2020      Julian   1687
...      ...  ..   ...         ...    ...
397667    CA   M  2020      Gannon      5
397666    CA   M  2020       Galen      5
397665    CA   M  2020  Fitzgerald      5
397664    CA   M  2020      Fermin      5
397908    CA   M  2020       Zymir      5

[2793 rows x 5 columns]

In [11]:
(babynames.query('Sex == "M" and Year == 2020').sort_values("Name", ascending = False)
)

       State Sex  Year     Name  Count
396944    CA   M  2020     Zyon      9
397908    CA   M  2020    Zymir      5
397074    CA   M  2020     Zyan      8
395829    CA   M  2020   Zyaire     37
396553    CA   M  2020    Zyair     13
...      ...  ..   ...      ...    ...
396824    CA   M  2020    Aamir      9
397550    CA   M  2020    Aalam      5
397076    CA   M  2020  Aaditya      7
397075    CA   M  2020     Aadi      7
396712    CA   M  2020    Aaden     10

[2793 rows x 5 columns]

In [12]:
## using len(x) doesn't work here, perhaps because it's treating x as the whole series and returning the len of the whole series?
# (
# babynames.query('Sex == "M" and Year == 2020')
#          .sort_values("Name", key = lambda x: len(x),#str.len(),
#                       ascending = False)
# )

---

In [13]:
# using a Series method (.str.len()) works
(
babynames.query('Sex == "M" and Year == 2020')
         .sort_values("Name", key = lambda x: x.str.len(),
                      ascending = False)
)

       State Sex  Year           Name  Count
397199    CA   M  2020  Michaelangelo      7
396683    CA   M  2020   Michelangelo     11
396682    CA   M  2020   Maximilliano     11
396623    CA   M  2020    Abdulrahman     11
395166    CA   M  2020    Christopher    758
...      ...  ..   ...            ...    ...
397745    CA   M  2020             Ky      5
397121    CA   M  2020             Cj      7
396001    CA   M  2020             Ty     25
397401    CA   M  2020             Jj      6
397713    CA   M  2020             Jr      5

[2793 rows x 5 columns]

An alternate approach is to create a temporary column corresponding to the length

In [14]:
#create a new series of only the lengths
babyname_lengths = babynames["Name"].str.len()

#add that series to the dataframe as a column
babynames["name_lengths"] = babyname_lengths
babynames.head(5)

  State Sex  Year      Name  Count  name_lengths
0    CA   F  1910      Mary    295             4
1    CA   F  1910     Helen    239             5
2    CA   F  1910   Dorothy    220             7
3    CA   F  1910  Margaret    163             8
4    CA   F  1910   Frances    134             7

In [15]:
## or do the above with one line

babynames["nl"] = babynames["Name"].str.len()
babynames.head()

  State Sex  Year      Name  Count  name_lengths  nl
0    CA   F  1910      Mary    295             4   4
1    CA   F  1910     Helen    239             5   5
2    CA   F  1910   Dorothy    220             7   7
3    CA   F  1910  Margaret    163             8   8
4    CA   F  1910   Frances    134             7   7

In [16]:
#sort by the temporary column
babynames = babynames.sort_values(by = "name_lengths", ascending=False)
babynames.head(25)

       State Sex  Year             Name  Count  name_lengths  nl
313143    CA   M  1989  Franciscojavier      6            15  15
333732    CA   M  1997  Ryanchristopher      5            15  15
330421    CA   M  1996  Franciscojavier      8            15  15
323615    CA   M  1993  Johnchristopher      5            15  15
310235    CA   M  1988  Franciscojavier     10            15  15
323728    CA   M  1993  Ryanchristopher      5            15  15
308802    CA   M  1987  Franciscojavier      5            15  15
340695    CA   M  2000  Franciscojavier      6            15  15
102498    CA   F  1986  Mariadelosangel      5            15  15
318170    CA   M  1991  Franciscojavier      6            15  15
333556    CA   M  1997  Franciscojavier      5            15  15
318049    CA   M  1991  Ryanchristopher      7            15  15
335727    CA   M  1998  Franciscojavier      6            15  15
102102    CA   F  1986   Mariadelourdes      6            14  14
308284    CA   M  1987   Michaelanthony      8            14  14
154989    CA   F  2001   Mariaguadalupe     10            14  14
103867    CA   F  1987   Mariaguadalupe     18            14  14
159136    CA   F  2002   Mariadelcarmen      8            14  14
148448    CA   F  1999   Mariadelcarmen      6            14  14
170036    CA   F  2005   Mariaguadalupe     16            14  14
119899    CA   F  1991   Mariadelcarmen      5            14  14
119913    CA   F  1991   Meganelizabeth      5            14  14
183258    CA   F  2008   Mariaguadalupe     11            14  14
104221    CA   F  1987   Mariadelcarmen     12            14  14
117819    CA   F  1991   Mariaguadalupe     17            14  14

In [17]:
#with just 2020 boy names

babynames.query('Sex == "M" and Year == 2020').sort_values(by = "nl", ascending=False)

       State Sex  Year           Name  Count  name_lengths  nl
397199    CA   M  2020  Michaelangelo      7            13  13
396683    CA   M  2020   Michelangelo     11            12  12
396682    CA   M  2020   Maximilliano     11            12  12
397776    CA   M  2020    Maxemiliano      5            11  11
396106    CA   M  2020    Miguelangel     21            11  11
...      ...  ..   ...            ...    ...           ...  ..
397121    CA   M  2020             Cj      7             2   2
396828    CA   M  2020             Aj      9             2   2
397282    CA   M  2020             An      6             2   2
396465    CA   M  2020             Om     14             2   2
397472    CA   M  2020             Oz      6             2   2

[2793 rows x 7 columns]

In [18]:
#drop the temporary column
babynames = babynames.drop("name_lengths", axis = 'columns')  # must specify "columns" (or 1) here b/c defaults to "row" (or 0)
babynames.head(5)

       State Sex  Year             Name  Count  nl
313143    CA   M  1989  Franciscojavier      6  15
333732    CA   M  1997  Ryanchristopher      5  15
330421    CA   M  1996  Franciscojavier      8  15
323615    CA   M  1993  Johnchristopher      5  15
310235    CA   M  1988  Franciscojavier     10  15

We can also use the Python map function if we want to use an arbitrarily defined function. Suppose we want to sort by the number of occurrences of "dr" plus the number of occurences of "ea".

In [19]:
def dr_ea_count(string):
    return string.count('dr') + string.count('ea')

#create the temporary column
babynames["dr_ea_count"] = babynames["Name"].map(dr_ea_count)

#sort by the temporary column
babynames = babynames.sort_values(by = "dr_ea_count", ascending=False)
babynames.head()

       State Sex  Year      Name  Count  nl  dr_ea_count
101969    CA   F  1986  Deandrea      6   8            3
304390    CA   M  1985  Deandrea      6   8            3
131022    CA   F  1994  Leandrea      5   8            3
115950    CA   F  1990  Deandrea      5   8            3
108723    CA   F  1988  Deandrea      5   8            3

In [20]:
#drop that column
babynames = babynames.drop("dr_ea_count", axis = 'columns')
babynames.head(5)

       State Sex  Year      Name  Count  nl
101969    CA   F  1986  Deandrea      6   8
304390    CA   M  1985  Deandrea      6   8
131022    CA   F  1994  Leandrea      5   8
115950    CA   F  1990  Deandrea      5   8
108723    CA   F  1988  Deandrea      5   8

---

###Female Name whose popularity has dropped the most.

In this exercise, let's find the female name whose popularity has dropped the most since its peak. As an example of a name that has fallen into disfavor, consider "Jennifer", visualized below.

Note: We won't cover plotly in lecture until week 4 after Lisa covers EDA and Regex.

In [21]:
import plotly.express as px

#must resort the dataframe by Year
babynames = babynames.sort_values(by = "Year")

fig = px.line(babynames.query("Name == 'Katrina' and Sex == 'F'"), x = "Year", y = "Count")
fig.update_layout(font_size = 18)

To answer this question, we'll need a mathematical definition for the change in popularity of a name.

For the purposes of lecture, letâ€™s use the RTP or ratio_to_peak. This is the current count of the name divded by its maximum ever count.

Getting the max Jennifer is easy enough.

In [22]:
max_jennifers = max(babynames.query("Name == 'Jennifer' and Sex == 'F'")["Count"])
max_jennifers

6065

And we can get the most recent Jennifer count with `iloc[-1]` (TODO: Maybe make this an exercise)

In [23]:
current_jennifers = babynames.query("Name == 'Jennifer' and Sex == 'F'")["Count"].iloc[-1]
current_jennifers

91

In [24]:
#most recent Year is 2021 -- it's 2020 in the lecture

babynames.tail()

       State Sex  Year     Name  Count  nl
235759    CA   F  2021       Vy      5   2
400657    CA   M  2021       Oz      5   2
400568    CA   M  2021       Jr      5   2
398211    CA   M  2021  Roberto    128   7
398999    CA   M  2021   Adolfo     19   6

In [25]:
#using 2020 to follow the lecture

current_jennifers = babynames.query("Name == 'Jennifer' and Sex == 'F' and Year == 2020")["Count"]
current_jennifers

##returns a Series object, but need an integer...he uses iloc, but there's got to be another way!

babynames.query("Name == 'Jennifer' and Sex == 'F'")
current_jennifers = babynames.query("Name == 'Jennifer' and Sex == 'F'")["Count"].iloc[-2]
current_jennifers

141

In [26]:
##another option for pulling out an integer (or one value) vice a Series

babynames.query("Name == 'Jennifer' and Sex == 'F' and Year == 2020")["Count"]  #this gives a Series of just the one number
babynames.query("Name == 'Jennifer' and Sex == 'F' and Year == 2020")["Count"].values[0]  #this pulls out the number

141

In [27]:
current_jennifers / max_jennifers

0.023248145094806265

We can also write a function that produces the ratio_to_peak for a given series.

Here for clarity, let's regenerate the `jennifer_counts` Series, but let's do so on a DataFrame where the index is the year.

In [28]:
# I don't like this function -- maybe use max year to filter??

def ratio_to_peak(series):
    return series.iloc[-1] / max(series)

In [29]:
jennifer_counts_series = babynames.query("Name == 'Jennifer' and Sex == 'F'")["Count"]
ratio_to_peak(jennifer_counts_series)

0.015004122011541632

We can try out various names below:

In [30]:
ratio_to_peak(babynames.query("Name == 'Jessica' and Sex == 'F'")["Count"])

0.01524741081703107

Since we're only working with female names, let's create a DataFrame with only female names to simplify our later code.

In [31]:
female_babynames = babynames[babynames["Sex"] == "F"] #could have also used query but I want to use various types of syntax to increase your exposure to other ways of writing code

### Approach 1: Naive For Loop

As a first approach, we can try to use a for loop.

In [32]:
#build dictionary where each entry is the rtp for a given name
#e.g. rtps["jennifer"] should be 0.0231
#rtps = {}
#for name in ??:
#    counts_of_current_name = female_babynames[??]["Count"]
#    rtps[name] = ratio_to_peak(counts_of_current_name)
    
#convert to series
#rtps = pd.Series(rtps) 
#rtps

Answer below. Note that we only used the first 100 names because otherwise the code takes ages to complete running.

In [33]:
df = pd.DataFrame(
    {
        "A": [1, 1, 2, 2],
        "B": [1, 2, 3, 4],
        "C": [0.362838, 0.227877, 1.267767, -0.562860],
    }
)
df

   A  B         C
0  1  1  0.362838
1  1  2  0.227877
2  2  3  1.267767
3  2  4 -0.562860

In [34]:
df.groupby('A').agg('min')

   B         C
A
1  1  0.227877
2  3 -0.562860

In [35]:
female_babynames

       State Sex  Year    Name  Count  nl
1         CA   F  1910   Helen    239   5
83        CA   F  1910  Nellie     20   6
184       CA   F  1910  Aileen      6   6
186       CA   F  1910  Astrid      6   6
187       CA   F  1910  Beulah      6   6
...      ...  ..   ...     ...    ...  ..
235340    CA   F  2021      An      5   2
232380    CA   F  2021  Adelyn    144   6
232496    CA   F  2021  Ailani     99   6
232501    CA   F  2021  Dayana     98   6
235759    CA   F  2021      Vy      5   2

[235791 rows x 6 columns]

In [36]:
#build dictionary where entry i is the ammd for the given name
#e.g. rtps["jennifer"] should be 0.0231
rtps = {}
for name in female_babynames["Name"].unique()[0:50]:
    counts_of_current_name = female_babynames[female_babynames["Name"] == name]["Count"]
    rtps[name] = ratio_to_peak(counts_of_current_name)
    
#convert to series
rtps = pd.Series(rtps) 
rtps

Helen         0.084146
Nellie        0.153061
Aileen        0.457031
Astrid        0.800000
Beulah        0.222222
Geneva        0.186047
Sylvia        0.083333
Teresa        0.035044
Lottie        0.600000
Margie        0.044118
Willie        0.260870
Hattie        0.400000
Marian        0.046610
Lenore        0.243243
Tillie        0.333333
Sophia        0.496158
Elaine        0.152125
Billie        0.364341
Eunice        0.277108
Jacqueline    0.070468
Marguerite    0.090909
Rachel        0.048077
Marion        0.051546
Goldie        1.000000
Carmen        0.275316
Myrtle        0.074627
Muriel        0.049505
Vivian        0.476309
Martha        0.051672
Bertha        0.071429
Jessie        0.346939
Bessie        0.160714
Ramona        0.182648
Yvonne        0.032567
Elvira        0.127907
Fannie        0.384615
Cecile        0.291667
Elinor        0.387755
Claire        0.535144
Miriam        0.243750
Amelia        1.000000
Eileen        0.265517
Maxine        0.523438
Gloria        0.074777
Helene        0.138889
Minnie        0.121951
Angela        0.176625
Esther        0.509294
Lucile        0.131579
Constance     0.046931
dtype: float64

In [37]:
rtps.sort_values()

Yvonne        0.032567
Teresa        0.035044
Margie        0.044118
Marian        0.046610
Constance     0.046931
Rachel        0.048077
Muriel        0.049505
Marion        0.051546
Martha        0.051672
Jacqueline    0.070468
Bertha        0.071429
Myrtle        0.074627
Gloria        0.074777
Sylvia        0.083333
Helen         0.084146
Marguerite    0.090909
Minnie        0.121951
Elvira        0.127907
Lucile        0.131579
Helene        0.138889
Elaine        0.152125
Nellie        0.153061
Bessie        0.160714
Angela        0.176625
Ramona        0.182648
Geneva        0.186047
Beulah        0.222222
Lenore        0.243243
Miriam        0.243750
Willie        0.260870
Eileen        0.265517
Carmen        0.275316
Eunice        0.277108
Cecile        0.291667
Tillie        0.333333
Jessie        0.346939
Billie        0.364341
Fannie        0.384615
Elinor        0.387755
Hattie        0.400000
Aileen        0.457031
Vivian        0.476309
Sophia        0.496158
Esther        0.509294
Maxine        0.523438
Claire        0.535144
Lottie        0.600000
Astrid        0.800000
Goldie        1.000000
Amelia        1.000000
dtype: float64

### Approach 2: Use groupby.agg

Instead, we can use the very powerful groupby.agg operation, which allows us to simply and efficiently compute what we want.

In [38]:
female_babynames.head()

    State Sex  Year    Name  Count  nl
1      CA   F  1910   Helen    239   5
83     CA   F  1910  Nellie     20   6
184    CA   F  1910  Aileen      6   6
186    CA   F  1910  Astrid      6   6
187    CA   F  1910  Beulah      6   6

In [41]:
female_babynames.sort_values(by = "Name")

       State Sex  Year     Name  Count  nl
234710    CA   F  2021  Aadhira      7   7
223265    CA   F  2018  Aadhira     10   7
231321    CA   F  2020  Aadhira      6   7
220316    CA   F  2017  Aadhira      6   7
218168    CA   F  2017   Aadhya     45   6
...      ...  ..   ...      ...    ...  ..
216512    CA   F  2016     Zyra      7   4
220674    CA   F  2017    Zyrah      6   5
217415    CA   F  2016    Zyrah      5   5
232144    CA   F  2020    Zyrah      5   5
197519    CA   F  2011    Zyrah      5   5

[235791 rows x 6 columns]

In [40]:
rtp_table = female_babynames.groupby("Name").agg('count')
#female_babynames.set_index('Name').loc['Aadhira', :]['Year']

female_babynames.groupby("Name").agg('count') #this counts the entries for each name -- note that they all columns display the same answer

#Note: If this cell crashes, comment out the code and use the female_babynames.groupby("Name")[["Count"]].agg(ratio_to_peak) instead

         State  Sex  Year  Count  nl
Name
Aadhira      4    4     4      4   4
Aadhya      13   13    13     13  13
Aadya       14   14    14     14  14
Aahana      13   13    13     13  13
Aahna        1    1     1      1   1
...        ...  ...   ...    ...  ..
Zyanya      22   22    22     22  22
Zyla        12   12    12     12  12
Zylah       11   11    11     11  11
Zyra        10   10    10     10  10
Zyrah        4    4     4      4   4

[13661 rows x 5 columns]

This is simply the equivalent of [http://data8.org/datascience/_autosummary/datascience.tables.Table.group.html](http://data8.org/datascience/_autosummary/datascience.tables.Table.group.html) from Data8, e.g. if babynames were using `Table`, our code would read:

`female_babynames.group("Name", ratio_to_peak)`

For a visual review of groupby, see this [lecture slide](https://docs.google.com/presentation/d/1FC-cs5MTGSkDzI_7R_ZENgwoHQ4aVamxFOpJuWT0fo0/edit#slide=id.g477ed0f02e_0_390).

If you're using an early enough version of pandas, the code above will not crash, and will automatically drop columns for which `ratio_to_peak` fails, e.g. the Sex column. 

However, according to a warning message that is generated as of January 2022, at some point this code will no longer be considered valid Pandas code, and the code will crash on columns for which the aggregation function is undefined. 

Whether we're trying to avoid a crash, or just want a clean DataFrame, let's explicitly select only the Count column. The idea here is that we don't really care about the meaningless Year column, so we may as well exclude it when we compute our `ratio_to_peak` values.

In [42]:
rtp_table = female_babynames.groupby("Name")[["Count"]].agg(ratio_to_peak) # only does the Count col
rtp_table = female_babynames.groupby("Name").agg(ratio_to_peak) # does all columns (drops non-numeric); note that the max year is the same as the current year, so rtp = 1; nl is the name length, so max = current
rtp_table

/usr/local/lib/python3.8/dist-packages/pandas/core/groupby/generic.py:303: FutureWarning:

Dropping invalid columns in SeriesGroupBy.agg is deprecated. In a future version, a TypeError will be raised. Before calling .agg, select only columns which should be valid for the aggregating function.

         Year     Count   nl
Name
Aadhira   1.0  0.700000  1.0
Aadhya    1.0  0.580000  1.0
Aadya     1.0  0.724138  1.0
Aahana    1.0  0.192308  1.0
Aahna     1.0  1.000000  1.0
...       ...       ...  ...
Zyanya    1.0  0.857143  1.0
Zyla      1.0  1.000000  1.0
Zylah     1.0  1.000000  1.0
Zyra      1.0  1.000000  1.0
Zyrah     1.0  0.833333  1.0

[13661 rows x 3 columns]

In [44]:
rtp_table = female_babynames.groupby("Name")[["Count"]].agg(ratio_to_peak) # only does the Count col
# this code renames the Count column to RTP. You'll see this syntax in lab
rtp_table = rtp_table.rename(columns = {"Count": "Count RTP"})
rtp_table

         Count RTP
Name
Aadhira   0.700000
Aadhya    0.580000
Aadya     0.724138
Aahana    0.192308
Aahna     1.000000
...            ...
Zyanya    0.857143
Zyla      1.000000
Zylah     1.000000
Zyra      1.000000
Zyrah     0.833333

[13661 rows x 1 columns]

In [45]:
rtp_table.sort_values("Count RTP")

        Count RTP
Name
Debra    0.001260
Susan    0.002034
Debbie   0.002817
Cheryl   0.003273
Carol    0.003635
...           ...
Jovi     1.000000
Neta     1.000000
Doni     1.000000
Dondi    1.000000
Kela     1.000000

[13661 rows x 1 columns]

In [46]:
fig = px.line(babynames.query("Name == 'Debra' and Sex == 'F'"), x = "Year", y = "Count")
fig.update_layout(font_size = 16)

In [48]:
top10 = rtp_table.sort_values("Count RTP").head(10).index  
top10

Index(['Debra', 'Susan', 'Debbie', 'Cheryl', 'Carol', 'Tammy', 'Terri',
       'Shannon', 'Deborah', 'Carolyn'],
      dtype='object', name='Name')

In [67]:
fig = px.line(babynames.query("Name in @top10 and Sex == 'F'"), x = "Year", y = "Count", color = "Name")
fig = px.line(babynames[(babynames["Sex"] == "F") & (babynames["Name"].isin(top10))], x = "Year", y = "Count", color = "Name") #alternate method; note the .isin syntax vice just "in"
fig.update_layout(font_size = 13)

---

## Some Additional Groupby Puzzles

Groupby puzzle #1: Try to create a groupby.agg call that gives the total babies born with each name.

In [68]:
puzzle1 = female_babynames.groupby("Name")[["Count"]].agg(sum)
puzzle1

         Count
Name
Aadhira     29
Aadhya     397
Aadya      251
Aahana     134
Aahna        7
...        ...
Zyanya     186
Zyla       124
Zylah      109
Zyra        87
Zyrah       21

[13661 rows x 1 columns]

Groupby puzzle #2: Try to create a groupby.agg call that gives total babies born in each year.

In [71]:
female_babynames.groupby("Year")[["Count"]].agg(sum)

       Count
Year
1910    5950
1911    6602
1912    9804
1913   11860
1914   13815
...      ...
2017  195466
2018  189066
2019  183982
2020  173428
2021  172693

[112 rows x 1 columns]

In [72]:
puzzle2 = female_babynames.groupby("Year")[["Count"]].agg(sum)  # all female babynames
#puzzle2 = babynames.groupby("Year")[["Count"]].agg(sum)  #both male and femaile babynames

puzzle2

       Count
Year
1910    5950
1911    6602
1912    9804
1913   11860
1914   13815
...      ...
2017  195466
2018  189066
2019  183982
2020  173428
2021  172693

[112 rows x 1 columns]

We can write this using a groupby shorthand aggregation method. Here, `sum()` is shorthand for `groupby.agg(sum)`.

In [73]:
puzzle2 = babynames.groupby("Year")[["Count"]].sum()

In [74]:
fig = px.line(puzzle2, y = "Count")
fig.update_layout(font_size = 15)

In [99]:
#not covered in lecture but we can also compute relative births
relative_births = puzzle2 / max(puzzle2["Count"])
max(puzzle2["Count"]) #or
puzzle2["Count"].max()
# get the row (year in this case) where there were the most number of babies
puzzle2[puzzle2["Count"] == max(puzzle2["Count"])]

## get the index of the max number of babies born 
puzzle2["Count"].idxmax()

relative_births.tail(40)

         Count
Year
1982  0.706777
1983  0.714071
1984  0.732780
1985  0.770092
1986  0.788896
1987  0.821224
1988  0.869610
1989  0.927609
1990  1.000000
1991  0.994019
1992  0.979012
1993  0.949967
1994  0.921591
1995  0.895057
1996  0.874536
1997  0.847617
1998  0.840170
1999  0.833911
2000  0.853442
2001  0.844917
2002  0.846377
2003  0.864296
2004  0.870137
2005  0.876659
2006  0.895601
2007  0.900431
2008  0.874585
2009  0.832865
2010  0.804478
2011  0.792135
2012  0.794970
2013  0.781462
2014  0.797252
2015  0.780240
2016  0.772389
2017  0.743441
2018  0.715059
2019  0.699412
2020  0.655395
2021  0.651445

In [77]:
fig = px.line(relative_births, y = "Count")
fig.update_layout(font_size = 15)

#### groupby Puzzle #4

In [82]:
elections = pd.read_csv("https://raw.githubusercontent.com/archenclan/dsKal100/main/lec/lec04/elections.csv")
elections.sample(5)

,Year,Candidate,Party,Popular vote,Result,%
1,1824,John Quincy Adams,Democratic-Republican,113142,win,42.789878
27,1864,Abraham Lincoln,National Union,2211317,win,54.951512
71,1916,Allan L. Benson,Socialist,590524,loss,3.194193
116,1968,Hubert Humphrey,Democratic,31271839,loss,42.863537
99,1948,Claude A. Watson,Prohibition,103708,loss,0.212747

In [83]:
elections.query("Candidate == 'Woodrow Wilson'")

    Year       Candidate       Party  Popular vote Result          %
70  1912  Woodrow Wilson  Democratic       6296284    win  41.933422
74  1916  Woodrow Wilson  Democratic       9126868    win  49.367987

We have to be careful when using aggregation functions. For example, the code below might be misinterpreted to say that Woodrow Wilson successfully ran for election in 2020. Why is this happening?

In [84]:
elections.groupby("Party").agg(max).head(10)

,Year,Candidate,Popular vote,Result,%
Party,,,,,
American,1976,Thomas J. Anderson,873053,loss,21.554001
American Independent,1976,Lester Maddox,9901118,loss,13.571218
Anti-Masonic,1832,William Wirt,100715,loss,7.821583
Anti-Monopoly,1884,Benjamin Butler,134294,loss,1.335838
Citizens,1980,Barry Commoner,233052,loss,0.270182
Communist,1932,William Z. Foster,103307,loss,0.261069
Constitution,2016,Michael Peroutka,203091,loss,0.152398
Constitutional Union,1860,John Bell,590901,loss,12.639283
Democratic,2020,Woodrow Wilson,81268924,win,61.344703
Democratic-Republican,1824,John Quincy Adams,151271,win,57.210122

### Quick Subpuzzle

Inspired by above, try to predict the results of the groupby operation shown. The answer is below the image.

![groupby_puzzle.png](attachment:groupby_puzzle.png)

The top ?? will be "hi", the second ?? will be "tx", and the third ?? will be "sd".

In [85]:
ds = pd.DataFrame(dict(x=[3,1,4,1,5,9,2,5,6], 
                      y=['ak', 'tx', 'fl', 'hi', 'mi', 'ak', 'ca', 'sd', 'nc']), 
                      index=list('ABCABCACB') )
ds

   x   y
A  3  ak
B  1  tx
C  4  fl
A  1  hi
B  5  mi
C  9  ak
A  2  ca
C  5  sd
B  6  nc

In [86]:
ds.groupby(ds.index).agg(max)

   x   y
A  3  hi
B  6  tx
C  9  sd

### Completing groupby puzzle #4

Next we'll write code that properly returns _the best result by each party_. That is, each row should show the Year, Candidate, Popular Vote, Result, and % for the election in which that party saw its best results (rather than mixing them as in the example above), here's what the first rows of the correct output should look like:

![parties.png](attachment:ab21f8de-ad29-46c2-bea7-e9aea9c40e3e.png)

In [88]:
elections_sorted_by_percent = elections.sort_values("%", ascending=False)
elections_sorted_by_percent.head(5)

     Year           Candidate       Party  Popular vote Result          %
114  1964      Lyndon Johnson  Democratic      43127041    win  61.344703
91   1936  Franklin Roosevelt  Democratic      27752648    win  60.978107
120  1972       Richard Nixon  Republican      47168710    win  60.907806
79   1920      Warren Harding  Republican      16144093    win  60.574501
133  1984       Ronald Reagan  Republican      54455472    win  59.023326

In [94]:
elections_sorted_by_percent = elections.sort_values("%", ascending=False)

#takes the first entry (highest based on sort) of each group (in this case by Party)
elections_sorted_by_percent.groupby("Party").agg(lambda x : x.iloc[0])   #(can use x.head(1) vice x.iloc[0]) -- pulls out the top of the list from each group, but there's got to be a better way!

,Year,Candidate,Popular vote,Result,%
Party,,,,,
American,1856,Millard Fillmore,873053,loss,21.554001
American Independent,1968,George Wallace,9901118,loss,13.571218
Anti-Masonic,1832,William Wirt,100715,loss,7.821583
Anti-Monopoly,1884,Benjamin Butler,134294,loss,1.335838
Citizens,1980,Barry Commoner,233052,loss,0.270182
Communist,1932,William Z. Foster,103307,loss,0.261069
Constitution,2008,Chuck Baldwin,199750,loss,0.152398
Constitutional Union,1860,John Bell,590901,loss,12.639283
Democratic,1964,Lyndon Johnson,43127041,win,61.344703
Democratic-Republican,1824,Andrew Jackson,151271,loss,57.210122
Dixiecrat,1948,Strom Thurmond,1175930,loss,2.412304
Farmerâ€“Labor,1920,Parley P. Christensen,265398,loss,0.995804
Free Soil,1848,Martin Van Buren,291501,loss,10.138474
Green,2000,Ralph Nader,2882955,loss,2.741176
Greenback,1880,James B. Weaver,308649,loss,3.352344
Independent,1992,Ross Perot,19743821,loss,18.956298
Liberal Republican,1872,Horace Greeley,2834761,loss,44.071406
Libertarian,2016,Gary Johnson,4489235,loss,3.307714
National Democratic,1896,John M. Palmer,134645,loss,0.969566
National Republican,1828,John Quincy Adams,500897,loss,43.796073
National Union,1864,Abraham Lincoln,2211317,win,54.951512
Natural Law,1996,John Hagelin,113670,loss,0.118219
New Alliance,1988,Lenora Fulani,217221,loss,0.237804
Northern Democratic,1860,Stephen A. Douglas,1380202,loss,29.522311
Populist,1892,James B. Weaver,1041028,loss,8.645038
Progressive,1912,Theodore Roosevelt,4122721,loss,27.457433
Prohibition,1892,John Bidwell,270879,loss,2.249468
Reform,1996,Ross Perot,8085294,loss,8.408844
Republican,1972,Richard Nixon,47168710,win,60.907806
Socialist,1912,Eugene V. Debs,901551,loss,6.004354
Southern Democratic,1860,John C. Breckinridge,848019,loss,18.138998
States' Rights,1956,T. Coleman Andrews,107929,loss,0.174883
Taxpayers,1996,Howard Phillips,184656,loss,0.192045
Union,1936,William Lemke,892378,loss,1.960733
Union Labor,1888,Alson Streeter,146602,loss,1.288861
Whig,1840,William Henry Harrison,1275583,win,53.051213

In [95]:
elections_sorted_by_percent = elections.sort_values("%", ascending=False)
elections_sorted_by_percent.groupby("Party").agg(lambda x : x.head(1)).head(9)

                      Year          Candidate  Popular vote Result          %
Party
American              1856   Millard Fillmore        873053   loss  21.554001
American Independent  1968     George Wallace       9901118   loss  13.571218
Anti-Masonic          1832       William Wirt        100715   loss   7.821583
Anti-Monopoly         1884    Benjamin Butler        134294   loss   1.335838
Citizens              1980     Barry Commoner        233052   loss   0.270182
Communist             1932  William Z. Foster        103307   loss   0.261069
Constitution          2008      Chuck Baldwin        199750   loss   0.152398
Constitutional Union  1860          John Bell        590901   loss  12.639283
Democratic            1964     Lyndon Johnson      43127041    win  61.344703

You'll soon discover that with Pandas' rich tool set, there's typically more than one way to get to the same answer. Each approach has different tradeoffs in terms of readability, performance, memory consumption, complexity and more.  It will take some experience for you to develop a sense of which approach is better for each problem, but you should in general try to think if you can at least envision a different solution to a given problem, especially if you find your current solution to be particularly convoluted or hard to read.

Here's a couple of other ways of obtaining the same result (in each case we only show the top part with `head()`).  The first approach uses `groupby` but finds the location of the maximum value via the `idxmax()` method (look up its documentation!).  We then index and sort by party to match the requested formatting:

In [100]:
elections.head()

,Year,Candidate,Party,Popular vote,Result,%
0,1824,Andrew Jackson,Democratic-Republican,151271,loss,57.210122
1,1824,John Quincy Adams,Democratic-Republican,113142,win,42.789878
2,1828,Andrew Jackson,Democratic,642806,win,56.203927
3,1828,John Quincy Adams,National Republican,500897,loss,43.796073
4,1832,Andrew Jackson,Democratic,702735,win,54.574789

In [101]:
elections.groupby('Party')['%'].idxmax()

Party
American                  22
American Independent     115
Anti-Masonic               6
Anti-Monopoly             38
Citizens                 127
Communist                 89
Constitution             164
Constitutional Union      24
Democratic               114
Democratic-Republican      0
Dixiecrat                103
Farmerâ€“Labor              78
Free Soil                 15
Green                    155
Greenback                 35
Independent              143
Liberal Republican        31
Libertarian              175
National Democratic       50
National Republican        3
National Union            27
Natural Law              148
New Alliance             136
Northern Democratic       26
Populist                  48
Progressive               68
Prohibition               49
Reform                   150
Republican               120
Socialist                 66
Southern Democratic       25
States' Rights           110
Taxpayers                147
Union                     93
Union Labor               42
Whig                      11
Name: %, dtype: int64

In [115]:
max_list = elections.groupby("Party")["%"].agg(lambda x : x.idxmax())
max_list

#type(max_list)

Party
American                  22
American Independent     115
Anti-Masonic               6
Anti-Monopoly             38
Citizens                 127
Communist                 89
Constitution             164
Constitutional Union      24
Democratic               114
Democratic-Republican      0
Dixiecrat                103
Farmerâ€“Labor              78
Free Soil                 15
Green                    155
Greenback                 35
Independent              143
Liberal Republican        31
Libertarian              175
National Democratic       50
National Republican        3
National Union            27
Natural Law              148
New Alliance             136
Northern Democratic       26
Populist                  48
Progressive               68
Prohibition               49
Reform                   150
Republican               120
Socialist                 66
Southern Democratic       25
States' Rights           110
Taxpayers                147
Union                     93
Union Labor               42
Whig                      11
Name: %, dtype: int64

In [118]:
elections.loc[max_list].sort_values("Party")

,Year,Candidate,Party,Popular vote,Result,%
22,1856,Millard Fillmore,American,873053,loss,21.554001
115,1968,George Wallace,American Independent,9901118,loss,13.571218
6,1832,William Wirt,Anti-Masonic,100715,loss,7.821583
38,1884,Benjamin Butler,Anti-Monopoly,134294,loss,1.335838
127,1980,Barry Commoner,Citizens,233052,loss,0.270182
89,1932,William Z. Foster,Communist,103307,loss,0.261069
164,2008,Chuck Baldwin,Constitution,199750,loss,0.152398
24,1860,John Bell,Constitutional Union,590901,loss,12.639283
114,1964,Lyndon Johnson,Democratic,43127041,win,61.344703
0,1824,Andrew Jackson,Democratic-Republican,151271,loss,57.210122
103,1948,Strom Thurmond,Dixiecrat,1175930,loss,2.412304
78,1920,Parley P. Christensen,Farmerâ€“Labor,265398,loss,0.995804
15,1848,Martin Van Buren,Free Soil,291501,loss,10.138474
155,2000,Ralph Nader,Green,2882955,loss,2.741176
35,1880,James B. Weaver,Greenback,308649,loss,3.352344
143,1992,Ross Perot,Independent,19743821,loss,18.956298
31,1872,Horace Greeley,Liberal Republican,2834761,loss,44.071406
175,2016,Gary Johnson,Libertarian,4489235,loss,3.307714
50,1896,John M. Palmer,National Democratic,134645,loss,0.969566
3,1828,John Quincy Adams,National Republican,500897,loss,43.796073
27,1864,Abraham Lincoln,National Union,2211317,win,54.951512
148,1996,John Hagelin,Natural Law,113670,loss,0.118219
136,1988,Lenora Fulani,New Alliance,217221,loss,0.237804
26,1860,Stephen A. Douglas,Northern Democratic,1380202,loss,29.522311
48,1892,James B. Weaver,Populist,1041028,loss,8.645038
68,1912,Theodore Roosevelt,Progressive,4122721,loss,27.457433
49,1892,John Bidwell,Prohibition,270879,loss,2.249468
150,1996,Ross Perot,Reform,8085294,loss,8.408844
120,1972,Richard Nixon,Republican,47168710,win,60.907806
66,1912,Eugene V. Debs,Socialist,901551,loss,6.004354
25,1860,John C. Breckinridge,Southern Democratic,848019,loss,18.138998
110,1956,T. Coleman Andrews,States' Rights,107929,loss,0.174883
147,1996,Howard Phillips,Taxpayers,184656,loss,0.192045
93,1936,William Lemke,Union,892378,loss,1.960733
42,1888,Alson Streeter,Union Labor,146602,loss,1.288861
11,1840,William Henry Harrison,Whig,1275583,win,53.051213

In [116]:
best_per_party = elections.loc[elections.groupby('Party')['%'].idxmax()]  # This is the computational part
best_per_party.set_index('Party').sort_index().head()  # This indexes by Party to match the formatting above

                      Year         Candidate  Popular vote Result          %
Party
American              1856  Millard Fillmore        873053   loss  21.554001
American Independent  1968    George Wallace       9901118   loss  13.571218
Anti-Masonic          1832      William Wirt        100715   loss   7.821583
Anti-Monopoly         1884   Benjamin Butler        134294   loss   1.335838
Citizens              1980    Barry Commoner        233052   loss   0.270182

And this one doesn't even use `groupby`! This approach instead uses the `drop_duplicates` method to keep only the last occurrence of of each party after having sorted by "%", which is the best performance.  Again, the 2nd line is purely formatting:

In [ ]:
best_per_party2 = elections.sort_values('%').drop_duplicates(['Party'], keep='last')
best_per_party2.set_index('Party').sort_index().head()  # Formatting

                      Year         Candidate  Popular vote Result          %
Party
American              1856  Millard Fillmore        873053   loss  21.554001
American Independent  1968    George Wallace       9901118   loss  13.571218
Anti-Masonic          1832      William Wirt        100715   loss   7.821583
Anti-Monopoly         1884   Benjamin Butler        134294   loss   1.335838
Citizens              1980    Barry Commoner        233052   loss   0.270182

*Challenge:* see if you can find yet another approach that still gives the same answer.

---

## Other DataFrameGroupBy Features

The result of groupby is not a DataFrame or a list of DataFrames. It is instead a special type called a `DataFrameGroupBy`.

In [119]:
grouped_by_year = babynames.groupby("Year")
type(grouped_by_year)

pandas.core.groupby.generic.DataFrameGroupBy

### groupby.size()

In [120]:
elections.groupby("Party")

In [121]:
#size returns a Series giving the size of each group
elections.groupby("Party").size().head(15)

Party
American                  2
American Independent      3
Anti-Masonic              1
Anti-Monopoly             1
Citizens                  1
Communist                 1
Constitution              3
Constitutional Union      1
Democratic               47
Democratic-Republican     2
Dixiecrat                 1
Farmerâ€“Labor              1
Free Soil                 2
Green                     7
Greenback                 1
dtype: int64

### groupby.filter()

In [ ]:
# filter gives a copy of the original DataFrame where row r is included
# if ITS GROUP obeys the given condition
#
# Note: Filtering is done per GROUP, not per ROW.
elections.groupby("Year").filter(lambda sf: sf["%"].max() < 45)  #keeps all rows when the Year had a max party vote < 45%

,Year,Candidate,Party,Popular vote,Result,%
23,1860,Abraham Lincoln,Republican,1855993,win,39.699408
24,1860,John Bell,Constitutional Union,590901,loss,12.639283
25,1860,John C. Breckinridge,Southern Democratic,848019,loss,18.138998
26,1860,Stephen A. Douglas,Northern Democratic,1380202,loss,29.522311
66,1912,Eugene V. Debs,Socialist,901551,loss,6.004354
67,1912,Eugene W. Chafin,Prohibition,208156,loss,1.386325
68,1912,Theodore Roosevelt,Progressive,4122721,loss,27.457433
69,1912,William Taft,Republican,3486242,loss,23.218466
70,1912,Woodrow Wilson,Democratic,6296284,win,41.933422
115,1968,George Wallace,American Independent,9901118,loss,13.571218
116,1968,Hubert Humphrey,Democratic,31271839,loss,42.863537
117,1968,Richard Nixon,Republican,31783783,win,43.565246
139,1992,Andre Marrou,Libertarian,290087,loss,0.278516
140,1992,Bill Clinton,Democratic,44909806,win,43.118485
141,1992,Bo Gritz,Populist,106152,loss,0.101918
142,1992,George H. W. Bush,Republican,39104550,loss,37.544784
143,1992,Ross Perot,Independent,19743821,loss,18.956298

In [125]:
# the code below lets us peek into the groups and see why they were rejected or not
for i, (n, g) in enumerate(elections.groupby("Year")):
    print(n)
    display(g)
    if i>3: break

1824

,Year,Candidate,Party,Popular vote,Result,%
0,1824,Andrew Jackson,Democratic-Republican,151271,loss,57.210122
1,1824,John Quincy Adams,Democratic-Republican,113142,win,42.789878

1828

,Year,Candidate,Party,Popular vote,Result,%
2,1828,Andrew Jackson,Democratic,642806,win,56.203927
3,1828,John Quincy Adams,National Republican,500897,loss,43.796073

1832

   Year       Candidate                Party  Popular vote Result          %
4  1832  Andrew Jackson           Democratic        702735    win  54.574789
5  1832      Henry Clay  National Republican        484205   loss  37.603628
6  1832    William Wirt         Anti-Masonic        100715   loss   7.821583

1836

   Year               Candidate       Party  Popular vote Result          %
7  1836       Hugh Lawson White        Whig        146109   loss  10.005985
8  1836        Martin Van Buren  Democratic        763291    win  52.272472
9  1836  William Henry Harrison        Whig        550816   loss  37.721543

1840

    Year               Candidate       Party  Popular vote Result          %
10  1840        Martin Van Buren  Democratic       1128854   loss  46.948787
11  1840  William Henry Harrison        Whig       1275583    win  53.051213

## Puzzle 5: Finding the number of babies born in each year of each sex.

Earlier we saw how to add up the total number of babies born in each year, but what if we want the number born in each and year for each sex separately?

In [ ]:
babynames.groupby("Year").sum()

       Count
Year
1910    9163
1911    9983
1912   17946
1913   22094
1914   26926
...      ...
2016  426658
2017  410614
2018  394826
2019  385777
2020  359229

[111 rows x 1 columns]

It is possible to group a DataFrame by multiple features. For example, if we group by Year and Sex we get back a DataFrame with the total number of babies of each sex born in each year.

In [ ]:
babynames.head(10)

  State Sex  Year       Name  Count
0    CA   F  1910       Mary    295
1    CA   F  1910      Helen    239
2    CA   F  1910    Dorothy    220
3    CA   F  1910   Margaret    163
4    CA   F  1910    Frances    134
5    CA   F  1910       Ruth    128
6    CA   F  1910     Evelyn    126
7    CA   F  1910      Alice    118
8    CA   F  1910   Virginia    101
9    CA   F  1910  Elizabeth     93

In [126]:
babynames.groupby(["Year", "Sex"]).agg(sum).head(6)

          Count    nl
Year Sex
1910 F     5950  1362
     M     3213   732
1911 F     6602  1450
     M     3381   798
1912 F     9804  1767
     M     8142  1444

In [127]:
babynames.groupby(["Sex", "Year"]).agg(sum).head(6)

          Count    nl
Sex Year
F   1910   5950  1362
    1911   6602  1450
    1912   9804  1767
    1913  11860  1950
    1914  13815  2153
    1915  18643  2738

The DataFrame resulting from an aggregation operation on a table grouped by a list of columns is multi-indexed. That is, it has more than one dimension to its index. We will explore this in a future lecture.

A more natural approach is to use a pivot table (like we saw in data 8).

In [128]:
babynames.head(5)

    State Sex  Year    Name  Count  nl
1      CA   F  1910   Helen    239   5
83     CA   F  1910  Nellie     20   6
184    CA   F  1910  Aileen      6   6
186    CA   F  1910  Astrid      6   6
187    CA   F  1910  Beulah      6   6

In [129]:
babynames_pivot = babynames.pivot_table(
    index='Year',     # the rows (turned into index)
    columns='Sex',    # the column values
    values=['Count'], # the field(s) to processed in each group
    aggfunc=np.sum,   # group operation
)
babynames_pivot.head(6)

      Count
Sex       F      M
Year
1910   5950   3213
1911   6602   3381
1912   9804   8142
1913  11860  10234
1914  13815  13111
1915  18643  17192

In [ ]:
babynames_pivot = babynames.pivot_table(
    index='Year',     # the rows (turned into index)
    columns='Sex',    # the column values
    values=['Count', 'Name'], 
    aggfunc=np.max,   # group operation
)
babynames_pivot.head(6)

     Count          Name
Sex      F     M       F        M
Year
1910   295   237  Yvonne  William
1911   390   214   Zelma   Willis
1912   534   501  Yvonne  Woodrow
1913   584   614   Zelma   Yoshio
1914   773   769   Zelma   Yoshio
1915   998  1033    Zita    Yukio

The basic idea behind pivot tables is shown in the image below.

![pivot_picture.png](attachment:pivot_picture.png)

---

## Merging Tables

In [130]:
elections

,Year,Candidate,Party,Popular vote,Result,%
0,1824,Andrew Jackson,Democratic-Republican,151271,loss,57.210122
1,1824,John Quincy Adams,Democratic-Republican,113142,win,42.789878
2,1828,Andrew Jackson,Democratic,642806,win,56.203927
3,1828,John Quincy Adams,National Republican,500897,loss,43.796073
4,1832,Andrew Jackson,Democratic,702735,win,54.574789
...,...,...,...,...,...,...
177,2016,Jill Stein,Green,1457226,loss,1.073699
178,2020,Joseph Biden,Democratic,81268924,win,51.311515
179,2020,Donald Trump,Republican,74216154,loss,46.858542
180,2020,Jo Jorgensen,Libertarian,1865724,loss,1.177979
181,2020,Howard Hawkins,Green,405035,loss,0.255731

In [131]:
male_2020_babynames = babynames.query('Sex == "M" and Year == 2020')
male_2020_babynames

       State Sex  Year     Name  Count  nl
396981    CA   M  2020    Daksh      8   5
397033    CA   M  2020    Miran      8   5
395392    CA   M  2020      Jax    146   3
397221    CA   M  2020  Rajveer      7   7
397175    CA   M  2020  Kainoah      7   7
...      ...  ..   ...      ...    ...  ..
396933    CA   M  2020      Tom      9   3
395589    CA   M  2020     Knox     69   4
397312    CA   M  2020   Damari      6   6
396957    CA   M  2020      Art      8   3
396376    CA   M  2020     Keon     15   4

[2793 rows x 6 columns]

In [132]:
elections["First Name"] = elections["Candidate"].str.split().str[0]

In [ ]:
elections

,Year,Candidate,Party,Popular vote,Result,%,First Name
0,1824,Andrew Jackson,Democratic-Republican,151271,loss,57.210122,Andrew
1,1824,John Quincy Adams,Democratic-Republican,113142,win,42.789878,John
2,1828,Andrew Jackson,Democratic,642806,win,56.203927,Andrew
3,1828,John Quincy Adams,National Republican,500897,loss,43.796073,John
4,1832,Andrew Jackson,Democratic,702735,win,54.574789,Andrew
...,...,...,...,...,...,...,...
177,2016,Jill Stein,Green,1457226,loss,1.073699,Jill
178,2020,Joseph Biden,Democratic,81268924,win,51.311515,Joseph
179,2020,Donald Trump,Republican,74216154,loss,46.858542,Donald
180,2020,Jo Jorgensen,Libertarian,1865724,loss,1.177979,Jo
181,2020,Howard Hawkins,Green,405035,loss,0.255731,Howard

In [133]:
merged = pd.merge(left = elections, right = male_2020_babynames, 
                  left_on = "First Name", right_on = "Name")
merged

,Year_x,Candidate,Party,Popular vote,Result,%,First Name,State,Sex,Year_y,Name,Count,nl
0,1824,Andrew Jackson,Democratic-Republican,151271,loss,57.210122,Andrew,CA,M,2020,Andrew,873,6
1,1828,Andrew Jackson,Democratic,642806,win,56.203927,Andrew,CA,M,2020,Andrew,873,6
2,1832,Andrew Jackson,Democratic,702735,win,54.574789,Andrew,CA,M,2020,Andrew,873,6
3,1824,John Quincy Adams,Democratic-Republican,113142,win,42.789878,John,CA,M,2020,John,623,4
4,1828,John Quincy Adams,National Republican,500897,loss,43.796073,John,CA,M,2020,John,623,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
142,2016,Darrell Castle,Constitution,203091,loss,0.149640,Darrell,CA,M,2020,Darrell,10,7
143,2016,Donald Trump,Republican,62984828,win,46.407862,Donald,CA,M,2020,Donald,40,6
144,2020,Donald Trump,Republican,74216154,loss,46.858542,Donald,CA,M,2020,Donald,40,6
145,2016,Evan McMullin,Independent,732273,loss,0.539546,Evan,CA,M,2020,Evan,597,4
146,2020,Joseph Biden,Democratic,81268924,win,51.311515,Joseph,CA,M,2020,Joseph,996,6

In [134]:
merged.sort_values("Count")

,Year_x,Candidate,Party,Popular vote,Result,%,First Name,State,Sex,Year_y,Name,Count,nl
113,1968,Hubert Humphrey,Democratic,31271839,loss,42.863537,Hubert,CA,M,2020,Hubert,5,6
132,1992,Ross Perot,Independent,19743821,loss,18.956298,Ross,CA,M,2020,Ross,5,4
133,1996,Ross Perot,Reform,8085294,loss,8.408844,Ross,CA,M,2020,Ross,5,4
129,1992,Bill Clinton,Democratic,44909806,win,43.118485,Bill,CA,M,2020,Bill,5,4
130,1996,Bill Clinton,Democratic,47400125,win,49.296938,Bill,CA,M,2020,Bill,5,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
122,2004,David Cobb,Green,119859,loss,0.098088,David,CA,M,2020,David,1163,5
121,1984,David Bergland,Libertarian,228111,loss,0.247245,David,CA,M,2020,David,1163,5
66,1884,Benjamin Butler,Anti-Monopoly,134294,loss,1.335838,Benjamin,CA,M,2020,Benjamin,1645,8
67,1888,Benjamin Harrison,Republican,5443633,win,47.858041,Benjamin,CA,M,2020,Benjamin,1645,8
68,1892,Benjamin Harrison,Republican,5176108,loss,42.984101,Benjamin,CA,M,2020,Benjamin,1645,8